<% provide(:title, "Administration") %>
<h1 class="h1 text-center">Administration</h1>
<div class="container">
  <h2 class="h2 text-center">Department Head</h2>
  <div class="text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg") %>
    <p>Assoc. Prof. Anan  PHONPHOEM</p>
  </div>
</div>
</br>
<div class="container">
  <h2 class="h2 text-center">Board of Administrations</h2>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg") %>
    <p>Kitsana WAIYAMAI ,D.U.</p>
    <p>Department Deputy</p>
  </div>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg") %>
    <p>Chaiporn JAIKAEO ,Ph.D.</p>
    <p>Department Deputy</p>
  </div>
</div>
</br>
<div class="container">
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg") %>
    <p>Punpiti PIAMSA-NGA ,D.Sc.</p>
    <p>Research Invention and Innivation Committee</p>
  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg") %>
    <p>Somchai NUMPRASERTCHAI ,Ph.D.</p>
    <p>Planning and Quality Assurance Committee</p>
  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg") %>
    <p>Jitti NIRAMITRANON ,Ph.D.</p>
    <p>Physical Infrastructure Committee</p>
  </div>
</div>
</br>
<div class="container">
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg") %>
    <p>Jittat FAKCHAROENPHOL ,Ph.D.</p>
    <p>Students Affairs Committee</p>
  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg") %>
    <p>Aphirak JANSANG ,D.Eng.</p>
    <p>Computer Networks and Information Technology Committee</p>
  </div>
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg") %>
    <p>Supaporn ERJONGMANEE ,Ph.D.</p>
    <p>Acadamic Affiars Committee</p>
  </div>
</div>
</br>
<div class="container">
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg") %>
    <p>Thanawin RAKTHANMANON ,Ph.D.</p>
    <p>International Undergrad Program Committee</p>
  </div>
</div>
</br>
<div class="container">
  <h2 class="h2 text-center">Seniors & Executive Members</h2>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg") %>
    <p> Assoc. Prof. Chaiyong WONGCHAISUWAT</p>
  </div>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/yuen1.jpg") %>
    <p>Assoc. Prof. Yuen POOVORAWAN</p>
  </div>
</div>
</br>
<div class="container">
  <h2 class="h2 text-center">Faculty Members</h2>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg") %>
    <p>Kitsana WAIYAMAI</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg") %>
    <p>Kemathat VIBHATAVANIJ</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-37-37-49.jpg") %>
    <p>Charay  LERDSUDWICHAI</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/02/14-KUENG-PHO-01-10-10-38.jpg") %>
    <p>Chantana CHANTRAPORNCHAI</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-29-29-13.jpg") %>
    <p>Jitti NIRAMITRANON</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-44-44-40.jpg") %>
    <p>Jittat FAKCHAROENPHOL</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-9-9-21.jpg") %>
    <p>Chalermsak CHATDIKMAIPRAI</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg") %>
    <p>Chaiporn JAIKAEO</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-42-42-38.jpg") %>
    <p>Thanawin RAKTHANMANON</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-5-5-5.jpg") %>
    <p>Bundit MANASKASEMSAK</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg") %>
    <p>Pradondet  NILAGUPTA</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-41-41-33.jpg") %>
    <p>Preeda LERTPONGWIPOOSANA</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-20-20-20.jpg") %>
    <p>Punpiti PIAMSA-NGA</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg") %>
    <p>Pirawat WATANAPONGSE</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-30-30-5.jpg") %>
    <p>Pattara  LEELAPRUTE</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg") %>
    <p>Putchong  UTHAYOPAS</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-27-27-34.jpg") %>
    <p>Monchai  SOPITKAMO</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-17-17-3.jpg") %>
    <p>Yodyium  TIPSUWAN</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/DSCF1821.jpg") %>
    <p>Siriporn  ONGROONGRUANG</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-23-23-32.jpg") %>
    <p>Somchai  NUMPRASERTCHAI</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg") %>
    <p>Somnuk  KERETHO</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-13-13-18.jpg") %>
    <p>Sitichai SRIOON</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-39-39-25.jpg") %>
    <p>Supaporn ERJONGMANEE</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-11-11-28.jpg") %>
    <p>Surasak  SANGUANPONG</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-15-15-17.jpg") %>
    <p>Hutchatai CHANLEKHA</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-21-21-26.jpg") %>
    <p>Anan PHONPHOEM</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-22-22-26.jpg") %>
    <p>Aphirak JANSANG</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-12-12-23.jpg") %>
    <p>Akrapong  PATCHARARUNGRUANG</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-6-6-19.jpg") %>
    <p>Asanee  KAWTRAKUL</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-4-4-6.jpg") %>
    <p>Arnon  RUNGSAWANG</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/FullSizeRendear-1.jpg") %>
    <p>Intiraporn  MULASATRA</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/DSCF2486re.jpg") %>
    <p>Paruj  RATANAWORABHAN</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-3 text-center"></div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/james_brucker-180x252.png") %>
    <p>James Edward Brucker</p>
  </div>
  <div class="col-sm-3 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/06/piyamet.png") %>
    <p>Piyamate WISANUVEJ</p>
  </div>
  <div class="col-sm-3 text-center"></div>
</div>